In [1]:
import pandas as pd
import numpy as np
import design_class_dictionary

In [2]:
master = pd.read_csv('data/master_503107.csv')

# All classes to all classes

In [3]:
d2d = pd.read_csv('data/final_main_d2d.csv')
d2d.head()

    patent_number  priority_date cite_mainclass focal_mainclass
6         D258382           1980            D23             D23
7         D258383           1980            D23             D23
8         D258678           1980            D23             D23
9         D258755           1980            D23             D23
102       D258990           1980            D25             D25

In [4]:
d2u = pd.read_csv('data/final_main_d2u.csv')
d2u.head()

   patent_number  priority_date cite_mainclass focal_mainclass
0        D257752           1980            211             D19
3        D257924           1980            211             D06
10       D258766           1980             52             D25
36       D258766           1980             40             D25
38       D258766           1980             49             D25

# First listed class of focal patent to all listed in cited patents

In [5]:
pat_class = pd.read_csv('data/uspc_current.tsv', delimiter = '\t', usecols=['patent_id','mainclass_id','sequence'],\
                       dtype={'patent_id':str})
pat_class.head()

  patent_id mainclass_id  sequence
0   3930271            2         0
1   3930271            2         1
2   3930271            2         2
3   3930271          473         3
4   3930272            5         0

In [6]:
#select first listed sequence 
first_listed = pat_class.loc[(pat_class.sequence == 0)]

Realizing that the cited patent number is necessary to have. Pulling other dataframe with this information

In [7]:
final = pd.read_csv('data/final_no_drops.csv')
cols = ['cite_subclass','focal_subclass']
final.drop(cols, axis=1, inplace=True)
final.head()

,patent_number,priority_date,cited_patent_number,cite_mainclass,focal_mainclass
0,D257752,1980,4162014,211,D19
1,D257752,1980,4162014,211,D19
2,D257752,1980,4162014,211,D19
3,D257924,1980,4162014,211,D06
4,D257924,1980,4162014,211,D06

In [8]:
final.patent_number.nunique()

503128

In [9]:
#get relevant patents
final = final.loc[final.patent_number.isin(master.patent_number.tolist())]

Let's test this compared to the d2d and d2u dataframes to see if they get the same end result

In [10]:
# drop duplicate rows. These are most likely unique on a subclass level, but not londer on a mainclass level
final = final.drop_duplicates()

In [11]:
# attribute first listed class to focal patent and cited patents
final_f2a = pd.merge(final, first_listed, left_on='patent_number', right_on='patent_id', how='left')

In [12]:
final_f2a.head()

,patent_number,priority_date,cited_patent_number,cite_mainclass,focal_mainclass,patent_id,mainclass_id,sequence
0,D257752,1980,4162014,211,D19,D257752,D19,0.0
1,D257924,1980,4162014,211,D06,D257924,D06,0.0
2,D258382,1980,D253842,D23,D23,D258382,D23,0.0
3,D258383,1980,D253842,D23,D23,D258383,D23,0.0
4,D258678,1980,D253842,D23,D23,D258678,D23,0.0

In [13]:
#split into design and untilty cited patents, and remove irregular citations
final_f2a_d2d = final_f2a.loc[final_f2a.cited_patent_number.str.contains('D')]
final_f2a_d2d = final_f2a_d2d.loc[final_f2a_d2d.cite_mainclass.str.contains('D')]

final_f2a_d2u = final_f2a.loc[~final_f2a.cited_patent_number.str.contains('D')]
final_f2a_d2u = final_f2a_d2u.loc[~final_f2a_d2u.cite_mainclass.str.contains('D')]

In [14]:
cols = ['cited_patent_number','focal_mainclass','patent_id','sequence']
final_f2a_d2d = final_f2a_d2d.drop(cols, axis=1).drop_duplicates()
final_f2a_d2u = final_f2a_d2u.drop(cols, axis=1).drop_duplicates()

In [15]:
print(final_f2a_d2d.mainclass_id.unique(),'\n\n', final_f2a_d2d.cite_mainclass.unique(),'\n\n',\
      final_f2a_d2u.mainclass_id.unique(), '\n\n', final_f2a_d2u.cite_mainclass.unique())

['D23' 'D25' 'D09' 'D24' 'D06' 'D12' 'D21' 'D08' 'D10' 'D07' 'D02' 'D19'
 'D22' 'D17' 'D18' 'D11' 'D14' 'D32' 'D28' 'D03' 'D27' 'D15' 'D30' 'D16'
 'D05' 'D99' 'D34' 'D13' 'D04' 'D01' 'D26' 'D29' 'D20' 'D9' 'D6' 'D7' '1'
 '24' nan]

 ['D23' 'D25' 'D24' 'D07' 'D11' 'D20' 'D21' 'D03' 'D06' 'D08' 'D09' 'D12'
 'D15' 'D10' 'D02' 'D19' 'D22' 'D14' 'D99' 'D17' 'D18' 'D32' 'D28' 'D27'
 'D29' 'D30' 'D34' 'D16' 'D05' 'D13' 'D04' 'D26' 'D01' 'D9' 'D8' 'D7' 'D2']

 ['D19' 'D06' 'D25' 'D24' 'D11' 'D12' 'D22' 'D08' 'D23' 'D13' 'D34' 'D21'
 'D30' 'D07' 'D18' 'D28' 'D17' 'D02' 'D10' 'D05' 'D15' 'D03' 'D26' 'D32'
 'D14' 'D16' 'D20' 'D09' 'D99' 'D29' 'D04' 'D27' 'D01' 'D8' 'D9' 'D7' '70'
 'D6' nan]

 ['211' '52' '40' '49' '160' '29' '104' '600' '4' '47' '359' '242' '225'
 '43' '172' '30' '42' '239' '261' '215' '220' '5' '126' '237' '180' '182'
 '212' '280' '414' '473' '119' '63' '400' '446' '124' '222' '604' '173'
 '606' '152' '301' '89' '404' '84' '984' '312' '128' '36' '186' '106'
 '116' '252' '374' '428' '463' '431' '206' '132' '401' '200' '340' '433'
 '602' '156' '264' '407' '408' '188' '482' '296' '2' 'G9B' '219' '99'
 '901' '601' '24' '70' '248' '355' '399' '430' '210' '216' '65' '95' '96'
 '362' '118' '427' '190' '383' '193' '37' '229' '232' '417' '92' '15' '74'
 '403' '368' '968' '105' '244' '141' '184' '228' '369' '720' '360' '455'
 '273' '434' '297' '249' '269' '108' '452' '366' '396' '181' '381' '294'
 '12' '150' '358' '16' '38' '135' '138' '174' '338' '109' '324' '345'
 '349' '271' '224' '351' '405' '285' '55' '56' '137' '426' '223' '341'
 '409' '82' '33' '356' '422' '435' '439' '379' '236' '251' '392' '134'
 '281' '402' '336' '441' '454' '53' '28' '289' '227' '62' '521' '209'
 '451' '432' '112' '59' '425' '165' '361' '377' '700' '708' '712' '101'
 '450' '241' '411' '198' '292' '144' '256' '235' '702' '73' '100' '72'
 '343' '416' '415' '313' '34' '54' '525' '526' '300' '254' '66' '283'
 '298' '257' '83' '337' '429' '293' '114' '440' '123' '453' '44' '607'
 '472' '122' '217' '353' '175' '352' '335' '436' '307' '375' '346' '902'
 '348' '131' '7' '474' '623' '204' '205' '140' '81' '110' '221' '157' '91'
 '315' '250' '413' '299' '68' '27' '367' '310' '14' '320' '475' '136'
 '177' '279' '470' '117' '493' '8' '376' '406' '976' '327' '169' '71'
 '111' '266' '75' '60' '418' '192' '125' '102' '384' '494' '386' '701'
 '385' '378' '333' '477' '267' '213' '202' '203' '410' '318' '226' '187'
 '260' '524' '713' '705' '277' '331' '510' '323' '238' '424' '347' '185'
 '363' '445' '191' '388' '76' '168' '246' '449' '464' '492' '164' '178'
 '514' '142' '194' '462' '139' '162' '290' '48' '516' '51' '372' '502'
 '19' '149' '305' '342' '501' '540' '546' '270' '334' '148' '438' '714'
 '554' '560' '562' '987' '159' '382' '483' '365' '208' '423' '707' '711'
 '26' '522' '442' '86' '231' '704' '528' '420' '166' '398' '329' '476'
 '715' '523' '412' '69' '322' '544' '380' '460' '303' '245' '505' '87'
 '556' '295' '57' '373' '585' '171' '330' '549' '710' '568' '725' '199'
 '716' '79' '530' '588' '534' '552' '558' '218' '548' '703' '930' '419'
 '326' '370' '201' '512' '564' '706' '850' '709' '977' '332' '503' '507'
 '504' '147' '719' '508' '278' '258' '234' '1' '536' '291' '23' '903'
 '527' '717' '518' '718' '726' '800' 'No longer published' '127' '163'
 '570' 'PLT' '196' '506' '314']

In [16]:
final_f2a_d2d[['mainclass_id','cite_mainclass']] = final_f2a_d2d[['mainclass_id','cite_mainclass']]\
.replace(design_class_dictionary.class_dictionary)

final_f2a_d2d.dropna(subset=['mainclass_id'], inplace=True)
final_f2a_d2d = final_f2a_d2d.loc[final_f2a_d2d.mainclass_id.str.contains('D')].drop_duplicates()

#########################################################################################

final_f2a_d2u['mainclass_id'] = final_f2a_d2u['mainclass_id']\
.replace(design_class_dictionary.class_dictionary)

final_f2a_d2u.dropna(subset=['mainclass_id'], inplace=True)
final_f2a_d2u = final_f2a_d2u.loc[final_f2a_d2u.mainclass_id.str.contains('D')]

final_f2a_d2u = final_f2a_d2u.loc[~(final_f2a_d2u.cite_mainclass.str.contains('PLT'))\
                  & (~final_f2a_d2u.cite_mainclass.str.contains('No'))].drop_duplicates()

# First listed focal class to first listed cited class

In [17]:
final_f2f = pd.merge(final_f2a, first_listed, left_on='cited_patent_number', right_on='patent_id', how='left')

In [18]:
final_f2f.head()

,patent_number,priority_date,cited_patent_number,cite_mainclass,focal_mainclass,patent_id_x,mainclass_id_x,sequence_x,patent_id_y,mainclass_id_y,sequence_y
0,D257752,1980,4162014,211,D19,D257752,D19,0.0,4162014,211,0.0
1,D257924,1980,4162014,211,D06,D257924,D06,0.0,4162014,211,0.0
2,D258382,1980,D253842,D23,D23,D258382,D23,0.0,D253842,D23,0.0
3,D258383,1980,D253842,D23,D23,D258383,D23,0.0,D253842,D23,0.0
4,D258678,1980,D253842,D23,D23,D258678,D23,0.0,D253842,D23,0.0

In [19]:
#split between two measures and clean up
final_f2f_d2d = final_f2f.loc[final_f2f.cited_patent_number.str.contains('D')]
final_f2f_d2d = final_f2f_d2d.loc[final_f2f_d2d.mainclass_id_y.str.contains('D')]

final_f2f_d2u = final_f2f.loc[~final_f2f.cited_patent_number.str.contains('D')]
# final_f2f_d2u = final_f2f_d2u.loc[~final_f2f_d2u.mainclass_id_y.str.contains('D')]

In [20]:
final_f2f_d2d.head()

,patent_number,priority_date,cited_patent_number,cite_mainclass,focal_mainclass,patent_id_x,mainclass_id_x,sequence_x,patent_id_y,mainclass_id_y,sequence_y
2,D258382,1980,D253842,D23,D23,D258382,D23,0.0,D253842,D23,0.0
3,D258383,1980,D253842,D23,D23,D258383,D23,0.0,D253842,D23,0.0
4,D258678,1980,D253842,D23,D23,D258678,D23,0.0,D253842,D23,0.0
5,D258755,1980,D253842,D23,D23,D258755,D23,0.0,D253842,D23,0.0
24,D258990,1980,D244939,D25,D25,D258990,D25,0.0,D244939,D25,0.0

In [21]:
cols=['cited_patent_number','cite_mainclass','focal_mainclass','patent_id_x','sequence_x','patent_id_y','sequence_y']

final_f2f_d2d = final_f2f_d2d.drop(cols, axis=1).drop_duplicates()
final_f2f_d2u = final_f2f_d2u.drop(cols, axis=1).drop_duplicates()

In [22]:
final_f2f_d2d.head()

   patent_number  priority_date mainclass_id_x mainclass_id_y
2        D258382           1980            D23            D23
3        D258383           1980            D23            D23
4        D258678           1980            D23            D23
5        D258755           1980            D23            D23
24       D258990           1980            D25            D25

In [23]:
print(final_f2f_d2d.mainclass_id_x.unique(),'\n\n', final_f2f_d2d.mainclass_id_y.unique(),'\n\n',\
      final_f2f_d2u.mainclass_id_x.unique(), '\n\n', final_f2f_d2u.mainclass_id_y.unique())

['D23' 'D25' 'D09' 'D24' 'D06' 'D12' 'D21' 'D08' 'D10' 'D07' 'D02' 'D19'
 'D22' 'D17' 'D18' 'D11' 'D14' 'D32' 'D28' 'D03' 'D27' 'D15' 'D30' 'D16'
 'D05' 'D99' 'D34' 'D13' 'D04' 'D01' 'D26' 'D29' 'D20' 'D9' 'D6' 'D7' '1'
 '24' nan]

 ['D23' 'D25' 'D24' 'D11' 'D06' 'D12' 'D07' 'D08' 'D02' 'D19' 'D22' 'D14'
 'D17' 'D18' 'D21' 'D32' 'D28' 'D10' 'D27' 'D09' 'D30' 'D03' 'D15' 'D34'
 'D16' 'D05' 'D99' 'D13' 'D04' 'D20' 'D26' 'D01' 'D29' 'D8']

 ['D19' 'D06' 'D25' 'D24' 'D11' 'D12' 'D22' 'D08' 'D23' 'D13' 'D34' 'D21'
 'D30' 'D07' 'D18' 'D28' 'D17' 'D02' 'D10' 'D05' 'D15' 'D03' 'D26' 'D32'
 'D14' 'D16' 'D20' 'D09' 'D99' 'D29' 'D04' 'D27' 'D01' 'D8' 'D9' 'D7' '70'
 'D6' nan]

 ['211' '52' '600' '4' '47' '359' '242' '225' '43' '172' '42' '239' '5'
 '126' '414' '473' '119' '220' '63' '400' '446' '124' '222' '606' '280'
 '404' '30' '84' '128' '36' '186' '374' '463' '312' '206' '132' '401'
 '200' '340' '29' '602' '156' '407' '408' '482' '2' '99' '601' '24' '399'
 '355' '210' '362' '427' '40' '604' '190' '433' '37' '229' '417' '15'
 '368' '296' '184' '720' '369' '273' '434' '297' '269' '403' '108' '248'
 '366' '70' '396' '181' '294' '232' '150' '358' '264' '49' '38' '135'
 '219' '224' '349' '351' '405' '383' '137' '141' '409' '435' '381' '439'
 '379' '236' '422' '426' '324' '441' '289' '96' '62' '261' '53' '209'
 '451' '74' '454' '428' '112' '223' '59' '425' '341' '700' '708' '33'
 '241' '237' '198' '256' '16' '702' '73' '89' '72' '416' '34' '54' '101'
 '525' '160' '215' '254' '402' '66' '271' '292' '257' '83' '337' '429'
 '114' '123' '227' '607' '472' '122' '56' '353' '251' '175' '100' '165'
 '360' '361' '235' '131' '7' '474' '356' '623' '134' '140' '81' '55' '82'
 '315' '250' '249' '180' '285' '174' '68' '116' '27' '14' '411' '320'
 '244' '177' '392' '279' '228' '301' '221' '117' '138' '493' '188' 'D10'
 '152' '169' '343' '204' '266' '75' '293' '440' '436' '205' '307' '91'
 '418' '192' '299' '470' '109' '494' '431' '386' '701' '333' '267' '378'
 '95' '452' '335' '410' '105' '182' '348' '187' '144' '202' '345' '705'
 '277' '313' '384' '346' '455' '510' '238' '283' '352' '118' '377' '65'
 '76' '338' '102' '424' '168' '406' '217' '449' '104' '464' '310' '111'
 '142' '191' '194' '385' '462' '60' '290' '92' '453' '415' '372' '347'
 '164' '281' '110' '173' '342' '367' '540' '334' '432' '554' '136' '382'
 '714' '483' '423' 'D14' '323' '48' '331' '336' '139' '193' '442' '231'
 '8' '365' '178' '157' '166' '398' '86' '305' '412' '713' '413' '523'
 '524' '212' '521' '12' '492' '380' '715' '450' '475' '556' '438' '375'
 '704' '270' '125' '298' '300' '318' '373' '514' '546' '226' '528' '322'
 '460' '327' '330' '549' '44' '477' '710' '363' '568' '725' '445' '148'
 '246' '171' '544' '430' '208' '79' '203' '588' '303' '552' '218' '530'
 '252' '28' '420' '558' '57' '376' '51' '216' '419' '213' '370' '501'
 '162' '106' '711' '850' '332' '159' '516' '71' '502' 'D12' '26' '87'
 '326' '504' '706' '564' '522' '508' '19' '585' '1' '709' '703' '526'
 '534' '536' '562' '149' '712' '69' '503' '717' '295' '388' '726' '560'
 '548' '800' '707' 'No longer published' 'D23' '476' '512' '127' '570'
 '716' 'D27' '718' 'PLT' 'D24' 'D13' 'D07' '201' '506' '719' '23' '527'
 'D99' 'D17' 'D21' 'D08' '234' '185' '291' '505' 'D29' '329' 'D26' 'D02'
 'D15' '147' '518' 'D09' nan 'D03' 'D06' 'D04' '245' 'D34' 'D20' 'D19'
 '507' 'D11' 'D16' 'D30' 'D22']

In [24]:
final_f2f_d2d[['mainclass_id_x','mainclass_id_y']] = final_f2f_d2d[['mainclass_id_x','mainclass_id_y']]\
.replace(design_class_dictionary.class_dictionary)

final_f2f_d2d.dropna(subset=['mainclass_id_x'], inplace=True)
final_f2f_d2d = final_f2f_d2d.loc[final_f2f_d2d.mainclass_id_x.str.contains('D')].drop_duplicates()

##########################################################################################################

final_f2f_d2u['mainclass_id_x'] = final_f2f_d2u['mainclass_id_x'].replace(design_class_dictionary.class_dictionary)
final_f2f_d2u.dropna(inplace=True)
final_f2f_d2u = final_f2f_d2u.loc[final_f2f_d2u.mainclass_id_x.str.contains('D')]

final_f2f_d2u = final_f2f_d2u.loc[(~final_f2f_d2u.mainclass_id_y.str.contains('PLT'))\
                  & (~final_f2f_d2u.mainclass_id_y.str.contains('No'))\
                 & (~final_f2f_d2u.mainclass_id_y.str.contains('D'))].drop_duplicates()

In [25]:
final_f2a_d2d.rename(index=str, columns={'mainclass_id':'focal_mainclass'}, inplace=True)
final_f2a_d2u.rename(index=str, columns={'mainclass_id':'focal_mainclass'}, inplace=True)

In [26]:
final_f2f_d2d.rename(index=str, columns={'mainclass_id_x':'focal_mainclass', 'mainclass_id_y':'cite_mainclass'},\
                     inplace=True)
final_f2f_d2u.rename(index=str, columns={'mainclass_id_x':'focal_mainclass', 'mainclass_id_y':'cite_mainclass'},\
                     inplace=True)

# Now that all the datasets are set up, let's throw them into the outside functions

In [27]:
d2d.reset_index(drop=True).to_csv('data/comparison/all_to_all_d2d.csv', index_label=False)
d2u.reset_index(drop=True).to_csv('data/comparison/all_to_all_d2u.csv', index_label=False)

final_f2a_d2d.reset_index(drop=True).to_csv('data/comparison/first_to_all_d2d.csv', index_label=False)
final_f2a_d2u.reset_index(drop=True).to_csv('data/comparison/first_to_all_d2u.csv', index_label=False)

final_f2f_d2d.reset_index(drop=True).to_csv('data/comparison/first_to_first_d2d.csv', index_label=False)
final_f2f_d2u.reset_index(drop=True).to_csv('data/comparison/first_to_first_d2u.csv', index_label=False)

# Ran the data, now calculate correlation matix of the measures at the industry level

Design to design

In [48]:
all_to_all = pd.read_csv('data/comparison/all_to_all_d2d_output.csv')
first_to_all = pd.read_csv('data/comparison/first_to_all_d2d_output.csv')
first_to_first = pd.read_csv('data/comparison/first_to_first_d2d_output.csv')

In [29]:
first_to_first_count = first_to_first.loc[first_to_first['first_seen'] == 1]\
.groupby('focal_mainclass')['patent_number'].count()\
.reset_index().rename(index=str, columns={'patent_number':'first to first novelty count'})
first_to_first_count = first_to_first_count.append(first_to_first_count.sum(numeric_only=True), ignore_index=True)

first_to_first_mean = first_to_first.groupby('focal_mainclass')['first_seen'].mean().reset_index()\
.rename(index=str, columns={'first_seen':'first to first mean novelty'})
first_to_first_mean = first_to_first_mean.append(first_to_first_mean.mean(numeric_only=True), ignore_index=True)\
.round(3)

first_to_first_table = pd.merge(first_to_first_count, first_to_first_mean)

In [30]:
first_to_all_count = first_to_all.loc[first_to_all['first_seen'] == 1]\
.groupby('focal_mainclass')['patent_number'].count()\
.reset_index().rename(index=str, columns={'patent_number':'first to all novelty count'})
first_to_all_count = first_to_all_count.append(first_to_all_count.sum(numeric_only=True), ignore_index=True)

first_to_all_mean = first_to_all.groupby('focal_mainclass')['first_seen'].mean().reset_index()\
.rename(index=str, columns={'first_seen':'first to all mean novelty'})
first_to_all_mean = first_to_all_mean.append(first_to_all_mean.mean(numeric_only=True), ignore_index=True)\
.round(3)

first_to_all_table = pd.merge(first_to_all_count, first_to_all_mean)

In [31]:
all_to_all = pd.merge(all_to_all, first_listed, how='left', left_on='patent_number', right_on='patent_id')
all_to_all['mainclass_id'] = all_to_all['mainclass_id'].replace(design_class_dictionary.class_dictionary)
all_to_all.dropna(subset=['mainclass_id'], inplace=True)
all_to_all = all_to_all.loc[all_to_all['mainclass_id'].str.contains('D')]

all_to_all_count = all_to_all.loc[all_to_all.first_seen == 1]\
.groupby('mainclass_id')['patent_number'].count().reset_index()\
.rename(index=str, columns={'patent_number':'all to all novelty count'})
all_to_all_count = all_to_all_count.append(all_to_all_count.sum(numeric_only=True), ignore_index=True)

all_to_all_mean = all_to_all.groupby('mainclass_id')['first_seen'].mean().reset_index()\
.rename(index=str, columns = {'first_seen':'all to all mean novelty'})
all_to_all_mean = all_to_all_mean.append(all_to_all_mean.mean(numeric_only=True), ignore_index= True).round(3)

all_to_all_table = pd.merge(all_to_all_count, all_to_all_mean)

In [59]:
(29)/(4599+29)

0.006266205704407952

In [63]:
all_to_all.loc[(all_to_all.focal_mainclass.str.match('D01')) & (all_to_all.first_seen == 1)].sort_values('patent_number')

       patent_number  priority_date cite_mainclass focal_mainclass  first_seen
2715         D265140           1980            D01             D01           1
12133        D269128           1982            D08             D01           1
1418         D269559           1980            D01             D01           1
1420         D269559           1980            D11             D01           1
6686         D269644           1981            D07             D01           1
1439         D269715           1980            D28             D01           1
2215         D271228           1980            D21             D01           1
2217         D271228           1980            D25             D01           1
4570         D273435           1981            D03             D01           1
4436         D273436           1981            D03             D01           1
9819         D277994           1982            D14             D01           1
25229        D284569           1984            D99             D01           1
25064        D284569           1984            D22             D01           1
27801        D296018           1985            D18             D01           1
28654        D296260           1985            D16             D01           1
48033        D304574           1987            D30             D01           1
60717        D313107           1988            D20             D01           1
65069        D331655           1989            D12             D01           1
73337        D334459           1990            D13             D01           1
112275       D344619           1992            D32             D01           1
543028       D584876           2007            D29             D01           1

In [64]:
first_to_first.loc[(first_to_first.focal_mainclass.str.match('D01')) & (first_to_first.first_seen == 1)].sort_values('patent_number')

       patent_number  priority_date focal_mainclass cite_mainclass  first_seen
1767         D265140           1980             D01            D01           1
926          D269559           1980             D01            D01           1
4445         D269644           1981             D01            D07           1
6229         D277994           1982             D01            D14           1
17644        D286941           1984             D01            D21           1
17636        D286942           1984             D01            D21           1
17609        D286943           1984             D01            D21           1
17347        D288380           1984             D01            D21           1
14802        D293155           1984             D01            D21           1
21965        D294190           1985             D01            D24           1
19077        D296260           1985             D01            D16           1
15347        D301794           1984             D01            D21           1
33094        D302622           1987             D01            D02           1
29917        D310287           1987             D01            D25           1
30046        D311265           1987             D01            D22           1
29130        D313689           1987             D01            D18           1
35789        D316922           1988             D01            D06           1
36076        D318554           1988             D01            D06           1
36099        D318555           1988             D01            D06           1
36097        D318556           1988             D01            D06           1
34938        D318748           1988             D01            D06           1
43847        D331655           1989             D01            D12           1
49338        D334459           1990             D01            D13           1
74621        D344619           1992             D01            D32           1
76538        D357341           1993             D01            D26           1
136754       D391735           1997             D01            D27           1
225592       D485046           2002             D01            D05           1
222235       D490588           2002             D01            D34           1
396204       D584876           2007             D01            D29           1

In [32]:
all_to_all_table.head()

  mainclass_id  all to all novelty count  all to all mean novelty
0          D01                      15.0                    0.002
1          D02                      43.0                    0.002
2          D03                      64.0                    0.002
3          D04                      33.0                    0.004
4          D05                      20.0                    0.004

In [33]:
first_to_all_table.head()

  focal_mainclass  first to all novelty count  first to all mean novelty
0             D01                        17.0                      0.003
1             D02                        48.0                      0.002
2             D03                        37.0                      0.001
3             D04                        34.0                      0.005
4             D05                        16.0                      0.004

In [34]:
first_to_first_table.head()

  focal_mainclass  first to first novelty count  first to first mean novelty
0             D01                          29.0                        0.006
1             D02                          48.0                        0.002
2             D03                          40.0                        0.002
3             D04                          32.0                        0.006
4             D05                          21.0                        0.006

In [35]:
total_table = pd.merge(all_to_all_table, first_to_all_table, left_on='mainclass_id', right_on='focal_mainclass')

total_table = pd.merge(total_table, first_to_first_table)

total_table.head()

,mainclass_id,all to all novelty count,all to all mean novelty,focal_mainclass,first to all novelty count,first to all mean novelty,first to first novelty count,first to first mean novelty
0,D01,15.0,0.002,D01,17.0,0.003,29.0,0.006
1,D02,43.0,0.002,D02,48.0,0.002,48.0,0.002
2,D03,64.0,0.002,D03,37.0,0.001,40.0,0.002
3,D04,33.0,0.004,D04,34.0,0.005,32.0,0.006
4,D05,20.0,0.004,D05,16.0,0.004,21.0,0.006

In [36]:
total_table.drop(labels=['mainclass_id'], axis=1, inplace=True)

total_table['class name'] = total_table['focal_mainclass'].map(design_class_dictionary.class_labels)

In [37]:
#reorder columns for readability
cols=['focal_mainclass','class name','all to all novelty count','all to all mean novelty',\
      'first to all novelty count','first to all mean novelty','first to first novelty count',\
      'first to first mean novelty']
total_table = total_table[cols]

In [38]:
total_table

,focal_mainclass,class name,all to all novelty count,all to all mean novelty,first to all novelty count,first to all mean novelty,first to first novelty count,first to first mean novelty
0,D01,Edible Products,15.0,0.002,17.0,0.003,29.0,0.006
1,D02,Apparel and Haberdashery,43.0,0.002,48.0,0.002,48.0,0.002
2,D03,"Travel Goods, Personal Belongings, and Storage...",64.0,0.002,37.0,0.001,40.0,0.002
3,D04,Brushware,33.0,0.004,34.0,0.005,32.0,0.006
4,D05,Textile or Paper Yard Goods; Sheet Material,20.0,0.004,16.0,0.004,21.0,0.006
5,D06,Furnishings,108.0,0.001,67.0,0.001,44.0,0.001
6,D07,Equipment for Preparing or Serving Food or Dri...,69.0,0.001,48.0,0.001,22.0,0.000
7,D08,Tools and Hardware,46.0,0.001,36.0,0.001,27.0,0.001
8,D09,Packages and Containers for Goods,65.0,0.001,54.0,0.001,52.0,0.001
9,D10,"Measuring, Testing or Signaling Instruments",45.0,0.001,32.0,0.001,31.0,0.001
10,D11,"Jewelry, Symbolic Insignia, and Ornaments",54.0,0.002,38.0,0.002,34.0,0.002
11,D12,Transportation,27.0,0.001,28.0,0.001,21.0,0.001
12,D13,"Equipment for Production, Distribution, or Tra...",18.0,0.000,21.0,0.001,26.0,0.001
13,D14,"Recording, Communication, or Information Retri...",88.0,0.001,42.0,0.000,21.0,0.000
14,D15,Machines Not Elsewhere Specified,44.0,0.002,37.0,0.002,32.0,0.002
15,D16,Photography and Optical Equipment,19.0,0.001,27.0,0.002,29.0,0.002
16,D17,Musical Instruments,28.0,0.010,28.0,0.011,32.0,0.014
17,D18,Printing and Office Machinery,27.0,0.002,21.0,0.002,19.0,0.002
18,D19,Office Supplies; Artists' and Teachers' Materials,72.0,0.003,50.0,0.002,38.0,0.002
19,D20,Sales and Advertising Equipment,19.0,0.002,31.0,0.004,22.0,0.003
20,D21,"Games, Toys and Sports Goods",75.0,0.002,54.0,0.001,47.0,0.001
21,D22,"Arms, Pyrotechnics, Hunting and Fishing Equipment",15.0,0.002,18.0,0.002,20.0,0.003
22,D23,"Environmental Heating and Cooling, Fluid Handl...",55.0,0.001,45.0,0.001,32.0,0.001
23,D24,Medical and Laboratory Equipment,244.0,0.005,120.0,0.003,54.0,0.002
24,D25,Building Units and Construction Elements,21.0,0.002,18.0,0.001,12.0,0.001
25,D26,Lighting,25.0,0.001,19.0,0.001,19.0,0.001
26,D27,Tobacco and Smokers' Supplies,29.0,0.007,38.0,0.010,37.0,0.012
27,D28,Cosmetic Products and Toilet Articles,35.0,0.002,34.0,0.002,28.0,0.002
28,D29,"Equipment for Safety, Protection and Rescue",22.0,0.003,23.0,0.004,20.0,0.004
29,D30,Animal Husbandry,23.0,0.001,24.0,0.002,27.0,0.002
30,D32,"Washing, Cleaning or Drying Machines",30.0,0.002,27.0,0.002,22.0,0.002
31,D34,Material or Article Handling Equipment,23.0,0.002,24.0,0.002,18.0,0.002
32,D99,Miscellaneous,27.0,0.005,28.0,0.006,32.0,0.009
33,NaN,NaN,1528.0,0.002,1184.0,0.002,988.0,0.003

In [39]:
#save it
total_table.to_csv('data/d2d_total_table.csv', index_label=False)
total_table.corr().round(3).to_csv('data/d2d_total_table_correlations.csv')

Design to utility

In [40]:
all_to_all = pd.read_csv('data/comparison/all_to_all_d2u_output.csv')
first_to_all = pd.read_csv('data/comparison/first_to_all_d2u_output.csv')
first_to_first = pd.read_csv('data/comparison/first_to_first_d2u_output.csv')

In [41]:
first_to_first_count = first_to_first.loc[first_to_first['first_seen'] == 1]\
.groupby('focal_mainclass')['patent_number'].count()\
.reset_index().rename(index=str, columns={'patent_number':'first to first novelty count'})
first_to_first_count = first_to_first_count.append(first_to_first_count.sum(numeric_only=True), ignore_index=True)

first_to_first_mean = first_to_first.groupby('focal_mainclass')['first_seen'].mean().reset_index()\
.rename(index=str, columns={'first_seen':'first to first mean novelty'})
first_to_first_mean = first_to_first_mean.append(first_to_first_mean.mean(numeric_only=True), ignore_index=True)\
.round(3)

first_to_first_table = pd.merge(first_to_first_count, first_to_first_mean)

In [42]:
first_to_all_count = first_to_all.loc[first_to_all['first_seen'] == 1]\
.groupby('focal_mainclass')['patent_number'].count()\
.reset_index().rename(index=str, columns={'patent_number':'first to all novelty count'})
first_to_all_count = first_to_all_count.append(first_to_all_count.sum(numeric_only=True), ignore_index=True)

first_to_all_mean = first_to_all.groupby('focal_mainclass')['first_seen'].mean().reset_index()\
.rename(index=str, columns={'first_seen':'first to all mean novelty'})
first_to_all_mean = first_to_all_mean.append(first_to_all_mean.mean(numeric_only=True), ignore_index=True)\
.round(3)

first_to_all_table = pd.merge(first_to_all_count, first_to_all_mean)

In [43]:
all_to_all = pd.merge(all_to_all, first_listed, how='left', left_on='patent_number', right_on='patent_id')
all_to_all['mainclass_id'] = all_to_all['mainclass_id'].replace(design_class_dictionary.class_dictionary)
all_to_all.dropna(subset=['mainclass_id'], inplace=True)
all_to_all = all_to_all.loc[all_to_all['mainclass_id'].str.contains('D')]

all_to_all_count = all_to_all.loc[all_to_all.first_seen == 1]\
.groupby('mainclass_id')['patent_number'].count().reset_index()\
.rename(index=str, columns={'patent_number':'all to all novelty count'})
all_to_all_count = all_to_all_count.append(all_to_all_count.sum(numeric_only=True), ignore_index=True)

all_to_all_mean = all_to_all.groupby('mainclass_id')['first_seen'].mean().reset_index()\
.rename(index=str, columns = {'first_seen':'all to all mean novelty'})
all_to_all_mean = all_to_all_mean.append(all_to_all_mean.mean(numeric_only=True), ignore_index= True).round(3)

all_to_all_table = pd.merge(all_to_all_count, all_to_all_mean)

In [44]:
total_table = pd.merge(all_to_all_table, first_to_all_table, left_on='mainclass_id', right_on='focal_mainclass')

total_table = pd.merge(total_table, first_to_first_table)

total_table.head()

,mainclass_id,all to all novelty count,all to all mean novelty,focal_mainclass,first to all novelty count,first to all mean novelty,first to first novelty count,first to first mean novelty
0,D01,252.0,0.049,D01,309.0,0.073,194.0,0.084
1,D02,398.0,0.013,D02,450.0,0.015,349.0,0.018
2,D03,500.0,0.010,D03,491.0,0.011,378.0,0.017
3,D04,273.0,0.021,D04,334.0,0.030,224.0,0.038
4,D05,362.0,0.046,D05,398.0,0.055,281.0,0.084

In [45]:
total_table.drop(labels=['mainclass_id'], axis=1, inplace=True)

total_table['class name'] = total_table['focal_mainclass'].map(design_class_dictionary.class_labels)

cols=['focal_mainclass','class name','all to all novelty count','all to all mean novelty',\
      'first to all novelty count','first to all mean novelty','first to first novelty count',\
      'first to first mean novelty']
total_table = total_table[cols]

In [46]:
total_table

,focal_mainclass,class name,all to all novelty count,all to all mean novelty,first to all novelty count,first to all mean novelty,first to first novelty count,first to first mean novelty
0,D01,Edible Products,252.0,0.049,309.0,0.073,194.0,0.084
1,D02,Apparel and Haberdashery,398.0,0.013,450.0,0.015,349.0,0.018
2,D03,"Travel Goods, Personal Belongings, and Storage...",500.0,0.010,491.0,0.011,378.0,0.017
3,D04,Brushware,273.0,0.021,334.0,0.030,224.0,0.038
4,D05,Textile or Paper Yard Goods; Sheet Material,362.0,0.046,398.0,0.055,281.0,0.084
5,D06,Furnishings,740.0,0.009,674.0,0.009,504.0,0.012
6,D07,Equipment for Preparing or Serving Food or Dri...,529.0,0.007,533.0,0.008,470.0,0.013
7,D08,Tools and Hardware,921.0,0.009,695.0,0.008,537.0,0.010
8,D09,Packages and Containers for Goods,481.0,0.006,537.0,0.007,447.0,0.011
9,D10,"Measuring, Testing or Signaling Instruments",686.0,0.016,554.0,0.015,442.0,0.023
10,D11,"Jewelry, Symbolic Insignia, and Ornaments",441.0,0.018,497.0,0.023,442.0,0.038
11,D12,Transportation,539.0,0.011,530.0,0.012,443.0,0.018
12,D13,"Equipment for Production, Distribution, or Tra...",626.0,0.010,638.0,0.010,530.0,0.016
13,D14,"Recording, Communication, or Information Retri...",844.0,0.005,605.0,0.004,483.0,0.006
14,D15,Machines Not Elsewhere Specified,664.0,0.015,592.0,0.014,501.0,0.023
15,D16,Photography and Optical Equipment,418.0,0.017,459.0,0.020,340.0,0.026
16,D17,Musical Instruments,233.0,0.064,251.0,0.077,164.0,0.097
17,D18,Printing and Office Machinery,426.0,0.030,419.0,0.035,342.0,0.056
18,D19,Office Supplies; Artists' and Teachers' Materials,520.0,0.015,567.0,0.019,457.0,0.030
19,D20,Sales and Advertising Equipment,328.0,0.024,395.0,0.034,320.0,0.051
20,D21,"Games, Toys and Sports Goods",588.0,0.009,549.0,0.010,464.0,0.015
21,D22,"Arms, Pyrotechnics, Hunting and Fishing Equipment",398.0,0.028,454.0,0.034,360.0,0.044
22,D23,"Environmental Heating and Cooling, Fluid Handl...",815.0,0.012,644.0,0.010,626.0,0.019
23,D24,Medical and Laboratory Equipment,1178.0,0.012,780.0,0.008,659.0,0.013
24,D25,Building Units and Construction Elements,359.0,0.012,472.0,0.017,362.0,0.023
25,D26,Lighting,460.0,0.016,532.0,0.019,450.0,0.029
26,D27,Tobacco and Smokers' Supplies,314.0,0.077,356.0,0.101,211.0,0.108
27,D28,Cosmetic Products and Toilet Articles,397.0,0.021,421.0,0.027,273.0,0.031
28,D29,"Equipment for Safety, Protection and Rescue",377.0,0.035,399.0,0.042,281.0,0.050
29,D30,Animal Husbandry,343.0,0.015,425.0,0.022,421.0,0.039
30,D32,"Washing, Cleaning or Drying Machines",485.0,0.020,466.0,0.022,397.0,0.034
31,D34,Material or Article Handling Equipment,415.0,0.018,451.0,0.022,443.0,0.041
32,D99,Miscellaneous,287.0,0.049,322.0,0.065,224.0,0.092
33,NaN,NaN,16597.0,0.022,16199.0,0.027,13019.0,0.037

In [47]:
#save it
total_table.to_csv('data/d2u_total_table.csv', index_label=False)
total_table.corr().round(3).to_csv('data/d2u_total_table_correlations.csv')