In [1]:
import pandas as pd
import numpy as np
import design_class_dictionary

In [2]:
master = pd.read_csv('data/master.csv')

In [3]:
outcast = pd.read_csv('data/outcast.csv')
outcast.head()

,patent_number,priority_date,cited_patent_number,cite_mainclass,cite_subclass,focal_mainclass,focal_subclass
2652347,D404730,1997,9049696,No longer published,No longer published,D14,D14/442
2652348,D404730,1997,9049703,No longer published,No longer published,D14,D14/442
2652349,D404730,1997,9049704,No longer published,No longer published,D14,D14/442
2652350,D404730,1997,9053779,No longer published,No longer published,D14,D14/442
4329233,D453749,2001,PP19946,PLT,PLT/417,D14,D14/138.AB

In [4]:
outcast.cite_mainclass.sort_values().unique()

array(['100', '101', '102', '104', '105', '106', '108', '109', '110',
       '111', '112', '114', '116', '118', '119', '12', '122', '123',
       '124', '125', '126', '128', '131', '132', '134', '135', '136',
       '137', '138', '139', '14', '140', '141', '142', '144', '148', '15',
       '150', '152', '156', '157', '16', '160', '162', '164', '165',
       '168', '169', '172', '173', '174', '175', '177', '178', '180',
       '181', '182', '184', '185', '186', '187', '188', '19', '190',
       '191', '192', '193', '194', '198', '199', '2', '200', '204', '206',
       '209', '210', '211', '212', '215', '217', '219', '220', '221',
       '222', '223', '224', '225', '226', '227', '228', '229', '232',
       '235', '236', '237', '238', '239', '24', '241', '242', '244',
       '248', '249', '250', '251', '252', '254', '256', '257', '261',
       '264', '266', '267', '269', '27', '270', '271', '273', '277',
       '279', '28', '280', '281', '283', '285', '29', '292', '293', '294',
       '296', '297', '298', '299', '30', '301', '303', '305', '307',
       '310', '312', '313', '315', '318', '320', '324', '327', '33',
       '330', '331', '333', '335', '336', '337', '338', '34', '340',
       '341', '342', '343', '345', '346', '347', '348', '349', '351',
       '352', '353', '355', '356', '358', '359', '36', '360', '361',
       '362', '363', '365', '366', '367', '368', '369', '37', '370',
       '373', '374', '375', '377', '378', '379', '38', '380', '381',
       '382', '383', '384', '385', '386', '392', '396', '398', '399', '4',
       '40', '400', '401', '402', '403', '404', '405', '406', '407',
       '408', '409', '410', '411', '412', '413', '414', '415', '416',
       '417', '42', '420', '422', '423', '424', '425', '426', '427',
       '428', '429', '43', '430', '431', '432', '433', '434', '435',
       '436', '438', '439', '440', '441', '442', '446', '449', '450',
       '451', '452', '453', '454', '455', '460', '462', '463', '464',
       '47', '470', '472', '473', '474', '475', '48', '482', '49', '492',
       '493', '494', '5', '502', '504', '508', '51', '510', '512', '514',
       '516', '52', '521', '522', '523', '524', '525', '528', '53', '530',
       '534', '536', '54', '540', '546', '548', '549', '55', '552', '558',
       '56', '560', '562', '57', '59', '60', '600', '601', '602', '604',
       '606', '607', '62', '623', '63', '66', '68', '7', '70', '700',
       '701', '702', '703', '704', '705', '708', '710', '712', '713',
       '715', '72', '720', '726', '73', '74', '76', '8', '81', '82', '83',
       '84', '850', '87', '89', '901', '902', '91', '92', '95', '96',
       '968', '984', '987', '99', 'D01', 'D02', 'D03', 'D04', 'D05',
       'D06', 'D07', 'D08', 'D09', 'D10', 'D11', 'D12', 'D13', 'D14',
       'D15', 'D16', 'D17', 'D18', 'D19', 'D20', 'D21', 'D22', 'D23',
       'D24', 'D25', 'D26', 'D27', 'D28', 'D29', 'D30', 'D32', 'D34',
       'D99', 'G9B', 'No longer published', 'PLT'], dtype=object)

Let's examin plant patents

In [5]:
outcast.loc[outcast.cite_mainclass.str.match('PLT')].drop(['cited_patent_number','cite_subclass','focal_subclass'], axis=1).drop_duplicates().groupby('focal_mainclass')['patent_number'].count().reset_index()

  focal_mainclass  patent_number
0             D14             12
1             D26              2

Examin focal design that has utility citation

In [6]:
outcast.loc[~outcast.focal_mainclass.str.contains('D')].drop(['cited_patent_number','cite_subclass','focal_subclass'], axis=1).drop_duplicates().patent_number.nunique()

3783

In [7]:
3783/master.patent_number.nunique()

0.007198995223505681

In [8]:
affected = list(outcast.loc[~outcast.focal_mainclass.str.contains('D')].drop(['cited_patent_number','cite_subclass','focal_subclass'], axis=1).patent_number.unique())

In [9]:
affected_df = outcast.loc[outcast['patent_number'].isin(affected)].drop(['cited_patent_number','cite_subclass','focal_subclass'], axis=1).drop_duplicates().groupby('focal_mainclass')['patent_number'].count().iloc[-33:].reset_index()

In [11]:
affected_df['class_name'] = affected_df['focal_mainclass'].map(design_class_dictionary.class_labels)

In [12]:
affected_df.to_csv('data/focal_design_utility_citation.csv')

Utility citations with design util

In [13]:
outcast.loc[(~outcast.cited_patent_number.str.contains('D')) & (outcast.cite_mainclass.str.contains('D'))].drop(['cited_patent_number','cite_subclass','focal_subclass'], axis=1).drop_duplicates().patent_number.nunique()

97124

In [14]:
97124/master.patent_number.nunique()

0.1848255913528326

In [15]:
df = outcast.loc[(~outcast.cited_patent_number.str.contains('D')) & (outcast.cite_mainclass.str.contains('D'))].drop(['cited_patent_number','cite_subclass','focal_subclass'], axis=1).drop_duplicates().groupby('cite_mainclass')['patent_number'].count().to_frame().reset_index()
df.head()

  cite_mainclass  patent_number
0            D01            522
1            D02           4092
2            D03           5160
3            D04           1550
4            D05            484

In [16]:
df['class_name'] = df['cite_mainclass'].map(design_class_dictionary.class_labels)
df

,cite_mainclass,patent_number,class_name
0,D01,522,Edible Products
1,D02,4092,Apparel and Haberdashery
2,D03,5160,"Travel Goods, Personal Belongings, and Storage..."
3,D04,1550,Brushware
4,D05,484,Textile or Paper Yard Goods; Sheet Material
5,D06,12989,Furnishings
6,D07,13192,Equipment for Preparing or Serving Food or Dri...
7,D08,8366,Tools and Hardware
8,D09,6839,Packages and Containers for Goods
9,D10,2867,"Measuring, Testing or Signaling Instruments"
10,D11,3478,"Jewelry, Symbolic Insignia, and Ornaments"
11,D12,5393,Transportation
12,D13,4605,"Equipment for Production, Distribution, or Tra..."
13,D14,8988,"Recording, Communication, or Information Retri..."
14,D15,2877,Machines Not Elsewhere Specified
15,D16,1268,Photography and Optical Equipment
16,D17,482,Musical Instruments
17,D18,2895,Printing and Office Machinery
18,D19,3246,Office Supplies; Artists' and Teachers' Materials
19,D20,615,Sales and Advertising Equipment
20,D21,5475,"Games, Toys and Sports Goods"
21,D22,2563,"Arms, Pyrotechnics, Hunting and Fishing Equipment"
22,D23,2765,"Environmental Heating and Cooling, Fluid Handl..."
23,D24,9899,Medical and Laboratory Equipment
24,D25,4093,Building Units and Construction Elements
25,D26,1527,Lighting
26,D27,344,Tobacco and Smokers' Supplies
27,D28,2262,Cosmetic Products and Toilet Articles
28,D29,1368,"Equipment for Safety, Protection and Rescue"
29,D30,3073,Animal Husbandry
30,D32,1875,"Washing, Cleaning or Drying Machines"
31,D34,4667,Material or Article Handling Equipment
32,D99,715,Miscellaneous

In [17]:
df.to_csv('data/util_citations_design_class.csv')

In [20]:
(97124+1365+14) /master.patent_number.nunique()

0.18744980874992864

In [23]:
outcast.patent_number.nunique()/master.patent_number.nunique()

0.1959542522217359