In [1]:
import pandas as pd
import numpy as np

There is a bit of indiscepancy on creating the universe of patent class pairs, so until it is cleared up, I'll do the calculations both ways and see what's up

# Way indicated on instructions

1. retrieve all design patents

In [2]:
master = pd.read_csv('data/master.csv')
master.head()

,patent_number,grant_year,app_year,num_inventors,us_inventor,cite_foreign_patent,is_missing,num_design_cited,num_utility_cited,non-pat_refs,num_figures,num_assignees,priority_date
0,D257752,1981,1980,1,1.0,0.0,1,1,2,1.0,6.0,1,1980
1,D257924,1981,1980,1,1.0,0.0,1,1,2,1.0,6.0,1,1980
2,D258382,1981,1980,2,1.0,0.0,1,2,1,0.0,5.0,1,1980
3,D258383,1981,1980,2,1.0,0.0,1,2,1,0.0,5.0,1,1980
4,D258571,1981,1980,1,1.0,0.0,1,1,1,0.0,2.0,1,1980

2. Retrieve all patent classe for each design patent

In [3]:
classes = pd.read_csv('data/uspcs_level.csv')
classes.head()

  uspc_mainclass_id uspc_subclass_id patent_number
0               D19           D19/75       D257752
1               D06          D06/573       D257924
2               D23          D23/214       D258382
3               D23          D23/214       D258383
4               D09          D09/560       D258571

3. List all pairwise combinations of patent classes for each design patent

In [20]:
data = [('D111111','F'),('D111111','E'),('D111111','A'),('D111111','B'),('D222222','B'),('D222222', 'A'),('D222222','H')]
cols = ['id','class1']

In [21]:
df = pd.DataFrame(data, columns=cols)
df

        id class1
0  D111111      F
1  D111111      E
2  D111111      A
3  D111111      B
4  D222222      B
5  D222222      A
6  D222222      H

In [35]:
from itertools import combinations

In [36]:
def combine(batch):
    """Combine all products within one batch into pairs"""
    return pd.Series(list(combinations(set(batch), 2)))

In [68]:
edges = df.groupby('id')['class1'].apply(combine).reset_index(level=0)
edges

        id  class1
0  D111111  (F, A)
1  D111111  (F, B)
2  D111111  (F, E)
3  D111111  (A, B)
4  D111111  (A, E)
5  D111111  (B, E)
0  D222222  (H, A)
1  D222222  (H, B)
2  D222222  (A, B)

In [73]:
edges['class1'].apply(pd.Series).sort_values(axis=1)

TypeError: sort_values() missing 1 required positional argument: 'by'