# We have the citation data. Now let's clean it up

In [1]:
import pandas as pd
import numpy as np
import pickle
import json

In [3]:
# load the object from the file into var b
cite1 = pickle.load(open('cite1file', 'rb'))  
cite2 = pickle.load(open('cite2file', 'rb'))
cite3 = pickle.load(open('cite3file', 'rb'))
cite4 = pickle.load(open('cite4file', 'rb'))
cite5 = pickle.load(open('cite5file', 'rb'))
cite6 = pickle.load(open('cite6file', 'rb'))
cite7 = pickle.load(open('cite7file', 'rb'))
cite8 = pickle.load(open('cite8file', 'rb'))
cite9 = pickle.load(open('cite9file', 'rb'))
cite10 = pickle.load(open('cite10file', 'rb'))
all_cites = cite1 + cite2 + cite3 + cite4 + cite5 + cite6 + cite7 + cite8 + cite9 + cite10

In [4]:
len(all_cites)

946476

In [7]:
cite_list = []
for index, item in enumerate(all_cites):
    if (all_cites[index]['patents'] != None):
        cite_list.append(all_cites[index]['patents'][0])

In [9]:
len(cite_list)

946456

In [10]:
output = {'patents': cite_list}

In [13]:
citations = pd.io.json.json_normalize(output['patents'], record_path='uspcs', meta='patent_number')
citations.head()

  uspc_mainclass_id uspc_subclass_id patent_number
0               248          248/423       3930272
1               403          403/107       3930272
2                 5             5/11       3930272
3                 5            5/100       3930272
4                47         47/58.1R       3930335

In [14]:
citations.shape

(2549842, 3)

In [15]:
citations.groupby('patent_number').ngroups

941012

Since we gathered this data in overlapping sections, we have some duplicate entries. Let's get rid of them

In [29]:
citations = citations.drop_duplicates().reset_index(drop=True)
citations.head()

  uspc_mainclass_id uspc_subclass_id patent_number
0               248          248/423       3930272
1               403          403/107       3930272
2                 5             5/11       3930272
3                 5            5/100       3930272
4                47         47/58.1R       3930335

In [30]:
citations.shape

(2529577, 3)

Saving dataframe

In [31]:
citations.to_csv('citations.csv', index=False)